<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tasks</title>
</head>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>

<h1>List of all Tasks</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Done</th>
    </tr>
    <tr th:each="task: ${taskList}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.done}"></td>
    </tr>
</table>

</body>
</html>